<ng-container *ngIf="!showExplain;else explain">
  <img class="dragon" src="assets/dragon-start.svg" alt="Dragon" />
  <div class="level">
    <div class="level-item">
      <img class="logo" src="assets/logo.svg" alt="Dou do it" />
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <a (click)="showExplain=true" class="button is-large is-primary"><span lang="fr">DÉMARRER</span>&nbsp;/ START</a>
    </div>
  </div>
</ng-container>
<ng-template #explain>
  <dou-explain titleFr="Qu'est-ce que le DOUDOU ?" title="What is DOUDOU?" (continue)="start()">
    <p lang="fr">La ducasse de Mons ou le "DOUDOU" est un festival emblématique de la ville de Mons. Cette tradition médiévale
      réunit des milliers de participants chaque année. Reconnu par l'UNESCO en 2005 comme un exemple de patrimoine
      immatériel, le "DOUDOU" est le moment ultime de l'année pour la ville.</p>
    <p lang="fr">Revivez la magie du DOUDOU avec l'application "Dou do it!"</p>
    <em>
      <p>The Ducasse de Mons or Doudou is a popular festival in the city of Mons. With origins in
        the Middle Ages, every year it brings together thousands of participants in the city. In 2005 it was recognized
        by UNESCO as an example of the Intangible Heritage of Humanity. Doudou is the highpoint of the year for the
        city
        of Mons!</p>
      <p>Through the ‘Dou do it’ exploration, you can relive the magic of Doudou!</p>
    </em>
  </dou-explain>
</ng-template>
