<div class="container" *ngIf="start">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Suddenly a dragon appears!
        </h1>
        <p>
          <button (click)="bringItOn()" class="button is-large">Oh no!</button>
        </p>
      </div>
    </div>
  </section>
</div>
<div class="container" [ngClass]="{'hidden':start}">
  <div class="dragon">
    <dou-hp [hp]="dragonHp"></dou-hp>
    <span class="name">DRAGON</span>
  </div>
  <div class="george">
    <dou-hp [hp]="georgeHp"></dou-hp>
    <span class="name">ST.GEORGE</span>
  </div>
  <div class="bottom">
    <div class="message" *ngIf="message">{{message}}</div>
    <div class="attacks" *ngIf="!message">
      <p>Choose your weapon</p>
      <div class="level">
        <div class="weapon" (click)="attack('spike')">&gt; Spike</div>
        <div class="weapon" (click)="attack('sword')">&gt; Sword</div>
        <div class="weapon" (click)="attack('pistol')">&gt; Pistol</div>
      </div>
    </div>
  </div>
</div>