@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
:host {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vh;
    overflow: hidden;
}
[role="button"]{
    cursor: pointer;
}

.title {    
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vh;
}
.hidden {
    visibility: hidden;
}
.battlefield {
    background: navajowhite;
    height: 100vh;
}

.dragon,
.george {
    display: block;
    position: absolute;
    width: 45vw;
    height: 35vh;

    .name {
        padding: 1vw;
        border: double 2vw black;
        border-radius: 2vw;
        background: white;
        display: inline-block;
    }

    .picture {
        display: block;
        height: 30vh;
        width: 45vw;
    }
}

.george {
    top: 35vh;
    left: 1vw;
    transition: left 1s ease-in;

    .hidden & {
        left: -1000px;
    }
}

.dragon {
    right: 1vw;
    transition: right 1s ease-in;
    text-align: right;
    
    .hidden & {
        right: -1000px;
    }

    &.attacked,
    &.attacking {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    &.attacked .picture {
        background-image: url(~/assets/dragon-mouthopen.png);
    }

    .picture {
        background-image: url(~/assets/dragon-mouthclosed.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        &.mouth-open,
        &.ko {
            background-image: url(~/assets/dragon-mouthopen.png);
        }
        &.fire {
            background-image: url(~/assets/dragon-fireattack.png);
        }
        &.shout {
            background-image: url(~/assets/dragon-shoutattack.png);
        }
        &.wind {
            background-image: url(~/assets/dragon-windattack.png);
        }
        &.ko {
            animation: spin 4s linear infinite;
            filter: grayscale(100%)
        }
    }
}

.bottom {   
    padding: 3vw;
    border: double 2vw black;
    border-radius: 2vw;
    background: white;
    width: 97vw;
    bottom: 1vh;
    height: 23vh;
    position: absolute;
    box-sizing: border-box;
    left: 1vw;
}
.bottom::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;

    content: url(~/assets/dragon-mouthopen.png),
        url(~/assets/dragon-fireattack.png),
        url(~/assets/dragon-shoutattack.png),
        url(~/assets/dragon-windattack.png);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes spin { 100% {
    transform: rotate(360deg); 
} } 
