<div *ngIf="start">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Et là dragon apparaît !
        </h1>
        <h1 class="title">
          Suddenly a DRAGON appears!
        </h1>
        <p>
          <button (click)="bringItOn()" class="button is-large">Oh noon ! Oh no!</button>
        </p>
      </div>
    </div>
  </section>
</div>
<div class="battlefield" [ngClass]="{'hidden':start}">
  <div class="dragon" [ngClass]="{'attacked':dragonAttacked,'attacking':georgeAttacked}">
    <dou-hp [hp]="dragonHp"></dou-hp>
    <div class="picture" [ngClass]="{
      'mouth-open': dragonMouthOpen,
      'fire': dragonFire,
      'shout': dragonShout,
      'wind': dragonWind,
      'ko': dragonKO
    }"></div>
    <span class="name">DRAGON</span>
  </div>
  <div class="george">
    <dou-hp [hp]="georgeHp"></dou-hp>
    <div class="picture" [ngClass]="{
      'surprised': georgeSurprised,
      'left': georgeLeft,
      'pistol': georgePistol,
      'pistol-attack': georgePistolAttack,
      'spear': georgeSpear,
      'spear-attack': georgeSpearAttack,
      'sword': georgeSword,
      'sword-attack': georgeSwordAttack,
      'won': georgeWon,
      'won-left': georgeWonLeft
    }"></div>
    <span class="name">ST.GEORGE</span>
  </div>
  <div class="bottom" *ngIf="message" (click)="nextAction()" role="button">
    {{typingMessage}}
  </div>
  <div class="bottom" *ngIf="!message">
    <div class="attacks">
      <p>Choose your weapon</p>
      <div class="level">
        <div class="weapon" role="button" (click)="attack('spear')">&gt; Spear</div>
        <div class="weapon" role="button" (click)="attack('sword')">&gt; Sword</div>
        <div class="weapon" role="button" (click)="attack('pistol')">&gt; Pistol</div>
      </div>
    </div>
  </div>
</div>
<audio preload loop #audio>
  <source src="assets/doudou.mp3" type="audio/mpeg">
</audio>
<audio preload #pistolAudio>
  <source src="assets/pistol.mp3" type="audio/mpeg">
</audio>
<audio preload #applause>
  <source src="assets/applause.mp3" type="audio/mpeg">
</audio>