<div class="section">
  <h1 class="title">
    Enter the code
  </h1>
  <div class="content">
    <div class="field">
      <div class="control">
        <label>
          Type the number printed on the sticker
          <input class="input is-primary" [(ngModel)]="value" type="number" (keyup)="check(false)" placeholder="1234">
        </label>
      </div>
    </div>
  </div>
  <div class="notification is-danger" *ngIf="showError">
    That's not the right code, sorry.
  </div>
  <span class="button is-primary" (click)="check(true)">Check</span>
</div>