<div class="section container">
  <h1 class="title" *ngIf="titleFr">
    {{titleFr}}
  </h1>
  <h1 class="title">
    {{title}}
  </h1>
  <video preload autoplay controls *ngIf="video">
    <source src="{{video}}" type="video/mp4">
  </video>
  <div class="content" *ngIf="descriptionFr" [innerHtml]="descriptionFr"></div>
  <div class="content" *ngIf="description" [innerHtml]="description"></div>
  <div class="content" *ngIf="!description">
    <ng-content></ng-content>
  </div>
  <span class="button is-primary" (click)="continue.next()">{{continueText}}</span>
</div>